@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Work around a bug in antd where a <Button type="primary" block href="...">
 * has blue text on blue background
 */
a.ant-btn-primary {
  color: white;
}
a.ant-btn-primary:hover {
  color: #f0faff;
}

.circular-radio-button {
  width: 78;
  height: 78;
  border-radius: 50%;
  border-style: none;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
}

.circular-radio-button img.image-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

.circular-radio-button:not([disabled])[aria-checked="true"] img.image-hover {
  opacity: 1;
}
